@charset "UTF-8";


.center {
  margin-top: 80px;
  margin-left: 400px;
  width: 40%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.image-size{
	height: 300px ;
	width:500px; 
	
}

.color {
  color: red;
  text-align: center;
}

html *
{
   font-family: verdana;
}

body {
    font: normal 15px Verdana, Arial, sans-serif;
}